<div class="container text-center">
  <div class="d-flex justify-content-start">
    <a class="previous text-start" href="/hardware/">
      <i class="fas fa-arrow-left me-2"></i>
      Back
    </a>
  </div>
  <div class="row">
    <h3>Hardware {{hardware.name}}</h3>
  </div>
  <div class="row">
    <table class="table table-striped table-light table-hover">
      <thead>
        <tr>
          <th scope="col">Kolom</th>
          <th scope="col">Nilai</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Id</th>
          <th>{{hardware.idHardware}}</th>
        </tr>
        <tr>
          <th scope="row">Nama</th>
          <th>{{hardware.name}}</th>
        </tr>
        <tr>
          <th scope="row">Tipe</th>
          <th>{{hardware.type}}</th>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <th>{{hardware.description}}</th>
        </tr>
      </tbody>
    </table>
  </div>
  {{#if sensors}}
    <div class="row">
      <h3>Sensor</h3>
    </div>
  {{/if}}
  {{#if nodes}}
    <div class="row">
      <h3>Node</h3>
    </div>
  {{/if}}
  <div class="row">
    <table class="table table-striped table-light table-hover">
      {{#if sensors}}
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Unit</th>
          </tr>
        </thead>
        <tbody>
          {{#each sensors as |s|}}
            {{#with s}}
              <tr>
                <th scope="row">{{idSensor}}</th>
                <td>{{name}}</td>
                <td>{{unit}}</td>
              </tr>
            {{/with}}
          {{/each}}
        </tbody>
      {{/if}}
      {{#if nodes}}
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          {{#each nodes as |n|}}
            {{#with n}}
              <tr>
                <th scope="row">{{idNode}}</th>
                <td>{{name}}</td>
                <td>{{location}}</td>
              </tr>
            {{/with}}
          {{/each}}
        </tbody>
      {{/if}}
    </table>
  </div>

</div>