<div class="container text-center">
  <div class="d-flex justify-content-start">
    <a class="previous text-start" href="/node/">
      <i class="fas fa-arrow-left me-2"></i>
      Back
    </a>
  </div>
  <div class="row">
    <h3>Node {{node.name}}</h3>
  </div>
  <div class="row">
    <table class="table table-striped table-light table-hover">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        {{#with node}}
          <tr>
            <th>Id Node</th>
            <td scope="row">{{idNode}}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{name}}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>{{location}}</td>
          </tr>
          <tr>
            <th>Is Public</th>
            <td>{{isPublic}}</td>
          </tr>
          <tr>
            <th>Id Hardware Node</th>
            <td>
              {{idHardwareNode}}
            </td>
          </tr>
          <tr>
            <th>Id User</th>
            <td>{{idUser}}</td>
          </tr>
        {{/with}}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3>Sensor</h3>
  </div>
  <div class="row">
    <table class="table table-striped table-light table-hover">
      <thead>
        <tr>
          <th>Id Sensor</th>
          <th>Field Sensor</th>
        </tr>
      </thead>
      <tbody>
        {{#each sensor as |s|}}
          {{#with s}}
            <tr>
              <td>
                {{idHardware}}
              </td>
              <td>
                {{field}}
              </td>
            </tr>
          {{/with}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="row">
    <h3>Feed</h3>
  </div>
  <div class="row">
    <div id="channel-chart">
    </div>
  </div>
</div>

<script>
  function decodeHtml(html) { var txt = document.createElement("textarea");
  txt.innerHTML = html; return txt.value; } const CHANNEL =
  JSON.parse(decodeHtml("{{feed}}"));
</script>
<script src="/static/js/node_detail.js"></script>